*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    display: flex;
    justify-content: center;
}

#slider{
    margin-right: 30px;
    min-width: 200px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    border-radius: 0px;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 0%; 
    background: black;
    cursor: pointer;
  } */

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 91px;
    border: 0;
    background-image: url('aitosha (2).png');
    cursor: pointer;
  }

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.grid-square {
    border: 1px solid black;
}
